<h1>This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service </h1>

<img src="/public/images/books.jpg" alt="Books" style="max-width: 100%; height: auto;">