<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Review App</title>
  <link rel="stylesheet" href="/public/styles/style.css">
</head>
<body>
  <nav>
    <a href="/">Home</a>
     <a href="/reviews">Reviews</a>
      <a href="/reviews/new">Add Review</a>
  </nav>
  <div class="container">
    {{{ body }}}
  </div>
</body>
</html>